configuration {
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     false;
}

@theme "~/.local/share/rofi/themes/gruvbox-material.rasi"
